<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/logo_har_tzion.png"/>
    <title>מערכת העלאת הקלטות</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap-rtl.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link href="jsTree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css"/>

    <!-- JQuery -->
    <script src="js/Technologies/jquery.min.js" type="application/javascript"></script>
    <!-- Angular -->
    <script src="js/Technologies/angular.min.js" type="application/javascript"></script>
    <!-- Bootstrap -->
    <script src="js/Technologies/bootstrap.min.js" type="application/javascript"></script>
    <!-- JsTree -->
    <script src="jsTree/dist/jstree.min.js" type="application/javascript"></script>
    <script src="js/JsTree/jstreeManagment.js" type="application/javascript"></script>
    <!-- My App -->
    <script src="js/MainApp/app.js" type="application/javascript"></script>
    <script src="js/clientConfig.js" type="application/javascript"></script>
    <script src="js/Services/uploadFileService.js" type="application/javascript"></script>
    <script src="js/Services/recordingPackageBuilderService.js" type="application/javascript"></script>
    <script src="js/Directives/jstreeDirective.js" type="application/javascript"></script>
    <script src="js/Directives/uploadFileDirective.js" type="application/javascript"></script>
    <script src="js/Directives/modalDirective.js" type="application/javascript"></script>
    <script src="js/Controllers/recordingSystemController.js" type="application/javascript"></script>
</head>
<body ng-app="recordingSystemApp">
<nav>
    <nav class="navbar navbar-default my-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar-collapse"
                        aria-expanded="false">
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="images/logo.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="my-navbar-collapse">
                <ul class="nav navbar-nav pull-left">
                </ul>
            </div>
        </div>
    </nav>
</nav>
<main ng-controller="recordingSystemController">
    <div class="container-fluid" ng-cloak="true">
        <header>
            <h1 class="page-header text-center" ng-cloak>{{homeWelcomeSentence}}</h1>
        </header>
        <section class="col-xs-12 col-sm-12 col-md-10 col-lg-10
        col-md-offset-1 col-lg-offset-1" dir="rtl">
            <aside>
                <div class="row input-group small-margin">
                    <label class="input-group-addon" for="recordingSubject">כותרת השיעור</label>
                    <input class="form-control" id="recordingSubject" name="recordingSubject" type="text" ng-model="recordingSubject">
                </div>
                <div class="row input-group small-margin">
                    <label class="input-group-addon" for="recordingLecturer">מעביר השיעור</label>
                    <select class="form-control" id="recordingLecturer" name="recordingLecturer" ng-model="recordingLecturer">
                        <option class="text-center" ng-repeat="lecturer in lecturers" ng-cloak>{{lecturer}}</option>
                    </select>
                </div>
                <div class="row input-group small-margin">
                    <label class="input-group-addon btn btn-default">
                      בחר הקלטה
                      <input id="fileUploaded" name="fileUploaded" type="file" file-model="recording" style="display: none;">
                    </label>
                    <input id="fileText" class="form-control" type="text" disabled>
                </div>
            </aside>
            <aside class="row upload-btn">
                <button class="btn btn-success btn-lg active col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2
                col-md-offset-2 col-lg-offset-2" ng-click="uploadRecording()" data-toggle="modal"
                        data-target="#uploadingModal">העלה כעת  <span class="glyphicon glyphicon-cloud-upload"></span></button>
            </aside>
            <aside class="row well file-path" style="border-radius: 3em">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                    <jstree></jstree>
                </div>
            </aside>
            <modal></modal>
        </section>
    </div>
</main>
</body>
</html>
