<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/logo_har_tzion.png" />
    <title>מערכת ניטור הקלטות</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-rtl.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <!-- JQuery -->
    <script src="js/Technologies/jquery.min.js" type="application/javascript"></script>
    <!-- Angular -->
    <script src="js/Technologies/angular.min.js" type="application/javascript"></script>
    <!-- Bootstrap -->
    <script src="js/Technologies/bootstrap.min.js" type="application/javascript"></script>
    <!-- My App -->
    <script src="js/MainApp/monitoringApp.js" type="application/javascript"></script>
    <script src="js/clientConfig.js" type="application/javascript"></script>
    <script src="js/Controllers/monitoringSystemController.js" type="application/javascript"></script>
</head>
<body ng-app="monitoringSystemApp">
    <nav>
        <nav class="navbar navbar-default my-nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar-collapse"
                        aria-expanded="false">
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="images/logo.png">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="my-navbar-collapse">
                    <ul class="nav navbar-nav pull-left">
                    </ul>
                </div>
            </div>
        </nav>
    </nav>
    <main ng-controller="monitoringSystemController">
        <div class="container-fluid" ng-cloak="true">
            <header>
                <h1 class="page-header text-center" ng-cloak>{{homeWelcomeSentence}}</h1>
            </header>
            <section class="col-xs-12 col-sm-12 col-md-10 col-lg-10
        col-md-offset-1 col-lg-offset-1"
                dir="rtl">
                <aside>
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="input-group">
                                <label class="input-group-addon" for="searchContext">מקום חיפוש</label>
                                <select class="form-control" id="searchContext" name="searchContext" ng-model="searchContext">
                                    <option>כל המאגר</option>
                                    <option ng-repeat="y in years">{{y}}</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="searchContext = currentYear">שנה נוכחית</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <h3>קבצים שאינם mp3  <span class="badge list-group-item-info">{{nonMp3Files.data.length}}</span></h3>
                    <img ng-show="nonMp3Files.loading" src="images/jstree.default/throbber.gif">
                    <ul class="list-group list-group-hover" ng-hide="nonMp3Files.loading">
                        <li class="list-group-item" ng-repeat="x in nonMp3Files.data">{{x}}</li>
                    </ul>

                    <h3>קבצים כפולים  <span class="badge list-group-item-info">{{duplicatedFiles.data.length}}</span></h3>
                    <img ng-show="duplicatedFiles.loading" src="images/jstree.default/throbber.gif">
                    <ul class="list-group list-group-hover" ng-hide="duplicatedFiles.loading">
                        <li class="list-group-item" ng-repeat="dup in duplicatedFiles.data">
                            <p ng-repeat="x in dup">{{x}}</p>
                        </li>
                    </ul>

                    <h3>הקלטות יוצאות דופן  <span class="badge list-group-item-info">{{filesWithDifferentArtist.data.length}}</span></h3>
                    <img ng-show="filesWithDifferentArtist.loading" src="images/jstree.default/throbber.gif">
                    <div class="table-responsive" ng-hide="filesWithDifferentArtist.loading">
                        <table class="table table-hover table-bordered table-sm" style="background-color: white">
                            <thead>
                                <tr>
                                    <th scope="col">קובץ</th>
                                    <th scope="col">מרצה רצוי</th>
                                    <th scope="col">מרצה מצוי</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in filesWithDifferentArtist.data">
                                    <td>{{x.file}}</td>
                                    <td>{{x.expected}}</td>
                                    <td>{{x.found}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3>הקלטות שלא לפי הסדר  <span class="badge list-group-item-info">{{outOfOrderFiles.data.length}}</span></h3>
                    <img ng-show="outOfOrderFiles.loading" src="images/jstree.default/throbber.gif">
                    <div class="table-responsive" ng-hide="outOfOrderFiles.loading">
                        <table class="table table-hover table-bordered table-sm" style="background-color: white">
                            <thead>
                                <tr>
                                    <th scope="col">אלבום</th>
                                    <th scope="col">קבצים</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in outOfOrderFiles.data">
                                    <td>{{x.album}}</td>
                                    <td>
                                        <p ng-repeat="f in x.files">{{f}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3>שיעורים לא פעילים  <span class="badge list-group-item-info">{{inactiveLessons.data.length}}</span></h3>
                    <img ng-show="inactiveLessons.loading" src="images/jstree.default/throbber.gif">
                    <div class="table-responsive" ng-hide="inactiveLessons.loading">
                        <table class="table table-hover table-bordered table-sm" style="background-color: white">
                            <thead>
                                <tr>
                                    <th scope="col">אלבום</th>
                                    <th scope="col">סוג תדירות</th>
                                    <th scope="col">ימים שעברו</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in inactiveLessons.data">
                                    <td>{{x.name}}</td>
                                    <td>{{x.typeOfClass}}</td>
                                    <td>{{x.daysPassed}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </aside>
            </section>
        </div>
    </main>
</body>
</html>
